# Core Libraries
setuptools
streamlit
python-dotenv
ipfs-toolkit
dataclasses-json
jsonschema
platformdirs
pymupdf
requests
pytest
loguru
PyPDF2 # delete that later and merge with fitz

# LangChain and Chroma

langchain
langchain-community
langchain_chroma

# Torch, Hugging Face and Transformers

#torch
#huggingface_hub
#transformers
#sentence-transformers

# Unstructured (with markdown support)

unstructured[md]

# PyInstaller for building standalone apps

#pyinstaller
