streamlit
transformers
python-dotenv
torch
ipfs-toolkit
dataclasses-json
jsonschema
pymupdf
langchain
langchain-community
langchain_chroma
huggingface_hub
sentence-transformers
unstructured
pyinstaller
requests
pytest
loguru
